@charset "UTF-8";
/* CSS Document */
/*made background image, changed font size and color, aligned text*/
body {
	background-image: url("images/forests.jpg");
	font-size: 36px;
	color: blue;
	text-align: center;
}
/*changed font*/
p1 {
font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace
}
/*hid run button*/
#run {
display: none;	
}
/*hid fight button*/
#fight {
display: none;	
}
/*hid deer image*/
#deer {
display: none;	
}
/*hid hide image*/
#hide {
display: none;	
}
/*hid shield button*/
#shield {
	display: none;
}
/*hid health bar*/
#health_bar {
display: none;	
}
/*hid ogre miniboss*/
#ogre {
display: none;	
}
/*hid second run button*/
#run2 {
	display: none;
}
/*Changed height of start btn*/
#startBtn {
	height: 100px;
}