@charset "UTF-8";
/* CSS Document */

body {
	background-image: url("images/forests.jpg");
	font-size: 36px;
	color: firebrick;
	text-align: center;
}
p1 {
font-family: Comic Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#run {
display: none;	
}
#fight {
display: none;	
}
#deer {
display: none;	
}
